h1.blackcolor{
    color: white;
    background-color: black;
    text-align: center;
}
h1.bluecolor{
    color: blue;
    background-color: black;
    text-align: center;
}
body{
    background-image: url("../images/background20191101.jfif");
}
h2.orengecolor{
    color: orange;
    background-color: gold;
    text-align: center;
}
h2.redcolor{
    color: red;
    background-color: aqua;
    text-align: center;
}