h1{
    color: chartreuse;
    background-color: black;
    text-align: center;
}
body{
    background-image: url("../images/background20191101.jfif");
}
h2{
    color: darkorange;
    background-color: blue;
    text-align: center;
}
h3{
    color: cornflowerblue;
}
p{
    color: chocolate;
}